# --- Entorno Virtual ---
.venv/
venv/
env/
bin/
lib/
share/
pyvenv.cfg

# --- Archivos de Configuración (CRÍTICO) ---
.env
*.json
!example.json
# Nota: Si usas credentials.json para Google Drive, asegúrate de que esté ignorado
credentials.json
token.json

# --- Almacenamiento Temporal y Datos ---
descargas/
temp/
*.log
data/
*.db
*.sqlite3

# --- Python e IDEs ---
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
.DS_Store